// +build wireinject
package di

import (
    "github.com/google/wire"
{{ range .importList }}
    "{{ . }}"
{{ end }}
)

func initServer() interface{} {
	wire.Build(
{{ range .providerSetList }}
    {{ . }},
{{ end }}
	)

	return nil
}
