// +build wireinject
package di

import (
    "github.com/google/wire"
    {{ range .importList }}{{ printf `"%s"` . -}}{{ end }}
)

func initServer() interface{} {
	wire.Build(
        {{ range .providerSetList }}{{ printf "%s," . -}}{{ end }}
	)

	return nil
}
